@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div align="center">  
        @if (ViewBag.Message != null)  
        {  
            <span class="alert alert-warning"> @ViewBag.Message</span>  
        }  
  
            <div align="right" class="btn btn-default">
                @using (Html.BeginForm("UploadExcel", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <input type="file" id="fileUpload" class="btn btn-primary" name="FileUpload" /><br /> <br />
                    <input type="submit" class="btn btn-primary" name="UploadNewExcel" id="fileUploadExcel" value="Upload New Excel File" />
                }
            </div>  
    </div>  
</div>

